<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Biblioteca</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href="css/style.css"> {% endcomment %}
    </head>
    <body>
        <h1>
            Lista de libros
        </h1>
        <a href="{%  url 'presentacion' %}">Ir a inicio</a>
        <a href="{% url 'crear' %}">Registrar un libro</a>
        <br>
        <br>
        <table border ="1">
        <thead>
            <th>ID Libro</th>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Autor</th>
            <th>Opciones</th>
        </thead>

        {% for libro  in libros %}
        <tr>
            <td>{{libro.id}}</td>
            <td>{{libro.titulo}}</td>
            <td>
                <img src="{{libro.imagen.url}}" height="100"/>
            </td>
            <td>{{libro.descripcion}}</td>
            <td>{{libro.autor}}</td>
            <td><a href="{%  url 'editar' libro.id %}">Editar</a> | <a href="{% url 'eliminar' libro.id %}">Borrar</a></td>
        </tr>
        {% endfor %}      
    </body>
</html>